

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
width: 100%;
height: 100%;
  font-family: "Montserrat", sans-serif;
  background: #eee;
}

header {

  background-color: #f5ba13;
  width: 100%;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;

}

footer {
/* display: none; */
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;

  height: 2.5rem;
  margin-top: 100px;

}

footer p {

  color: #ccc;
 
  
}
.note {

  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 30%;
  height: auto;
  margin: 16px;
  float: left;
    z-index: 1;
}
.note h1 {
  font-size: 1.11em;
  margin-bottom: 6px;
}
.note p {
position: relative;
  font-size: 1.1em;
top:15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: #f5ba13;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  right: 7px;
  bottom: -32px;
  padding: 3px;
}

form {
  position: relative;
  width: 40%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

@media screen and (max-width:960px){

.note
{
width: 29%;

}
}
@media screen and (max-width:868px){

.note
{
width: 50%;

}

}

@media screen and (max-width:640px){
form
{
width: 50%;
}
  
.note
{
width: 43%;

}

}
@media screen and (max-width:500px){

form
{
width: 60%;
}
  
.note {

position: relative;
    width: 80%;
    margin: 20px auto;
    left: 40px;



}
}

