

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
width: 100%;
height: 100%;
 background: #eee;
  font-family: "Montserrat", sans-serif;
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1776&q=80");

 

  background-size: 100% 100%;   /*to fit background-image: ; */

  background-attachment: fixed;
  background-position: center;
}

header {

  background-color: #f5ba13;
  width: 100%;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-align: center;

}

footer {
/* display: none; */
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;

  height: 2.5rem;
  margin-top: 100px;

}

footer p {

  color: #ccc;
 
  
}
.note {

text-align: center;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 30%;
  height: 4rem;
  margin: 27px auto;

    /* z-index: 1; */
}

.note p {

position: relative;
  font-size: 1.1rem;
top:10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: #f5ba13;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  right: -3px;
  bottom: 8px;
  padding: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

form {
  position: relative;

  width: 30%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input{
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  text-align: center;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

@media screen and (max-width:960px){

.note
{
width: 29%;

}
}
@media screen and (max-width:868px){

form
{
width: 50%;
}
.note
{
width: 50%;

}

}


@media screen and (max-width:500px){

form
{
width: 70%;
}
  
  form button
  {
    width: 50px;
    height: 50px;
  }

  .note button

  {
    font-size: 0.7rem;
  width: 50px;
    height: 50px;

  }
.note {

position: relative;
    width: 70%;
font-size: 1rem;
}
}

